# Environment
.env

# Composer
/vendor/

# Cache
/storage/cache/*
!/storage/cache/.gitkeep
/storage/views/*
!/storage/views/.gitignore
!/storage/views/.gitkeep

# Logs
/storage/logs/*
!/storage/logs/.gitkeep
*.log

# Databases
*.sqlite

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Uploads
/public/uploads/
/tests/sample_project/public/uploads/

# TurboQuantex
.TurboQuantex/
codebase_index.tq
