<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Stop processing if request matches actual file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all other paths to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
